@charset "UTF-8";

/*Typical Device breakpoints
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    desktop: 992px até  1200px
    Grandes telas: acima de  1200px
*/

@media screen and (min-width:768px) and (max-width:992px) {
    nav {
        padding: 7px 0px;

    }

    .listas {
        display: block;
    }

    

    nav>ul>li {
        margin-left: 10px;
    }

    #icone {
        display: none;
    }

      .editar-box{
 display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: 4;
}
.editar-campos{
    display: inline;
  margin-top: 0;
  margin-bottom: 0;
}
.editar-box > h3{
    grid-row: 1/1;
    grid-column: 1/-1;
}
#campo1{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: start;
}
#campo2{
 grid-row: 3/4;
   grid-column: 1/2;
}
#campo3{
        grid-row: 2/3;
        grid-column: 2/3;
}
#campo4{
        grid-row: 3/4;
        grid-column: 2/3;
}
.editar-botoes{
    gap: 10px;
    display: flex;
    justify-content: center;
    grid-row:4/5;
    grid-column: 1/3;
}

    .listas>li {
        text-decoration: none;
        color: black;
        display: inline;
        padding: 5px;
        border: none;
        border-radius: 8px;
    }


    #cadastro {
        width: 400px;
    }

    #listaUsuarios {
        width: 450px;
        border-radius: 8px;
    }

    #listaUsuarios>h4 {
        text-align: center;
    }

    #editarBox {
        font-size: 20px;
    }

    #editarBox input,
    select {
        font-size: 16px;
    }
}

@media screen and (min-width:992px) {
    nav {

        padding: 7px 0px;
        text-align: left;
    }
  .editar-box{
 display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: 4;
}
.editar-campos{
    display: inline;
  margin-top: 0;
  margin-bottom: 0;
}
.editar-box > h3{
    grid-row: 1/1;
    grid-column: 1/-1;
}
#campo1{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: start;
}
#campo2{
 grid-row: 3/4;
   grid-column: 1/2;
}
#campo3{
        grid-row: 2/3;
        grid-column: 2/3;
}
#campo4{
        grid-row: 3/4;
        grid-column: 2/3;
}
.editar-botoes{
    gap: 10px;
    display: flex;
    justify-content: center;
    grid-row:4/5;
    grid-column: 1/3;
}
    .listas {
        display: block;
    }

    nav>ul>li {
        margin-left: 60px;
    }

    #icone {
        display: none;
    }

    .listas>li {
        text-decoration: none;
        color: black;
        display: inline;
        padding: 5px;
        border: none;
        border-radius: 8px;
        align-items: left;
    }

    #cadastro {
        width: 500px;
    }

    #listaUsuarios {


        width: 450px;
        border-radius: 8px;

    }

    #editarBox {
        font-size: 30px;
    }

    #editarBox input,
    select {
        font-size: 26px;
    }

    #listaUsuarios>h4 {
        text-align: center;
    }
}