@charset "UTF-8";
:root{
    --cor01: #12ABE0;
    --coe02:#13E08E;
    --cor04:#26E012;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #84e0ba;
}
header{
    text-align: center;
   
    background-image: linear-gradient(to top,#12e050,#3cdfa9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header > p {
padding-bottom: 10px;
}
nav{
  background-color: #26E012;
 
}
.listas{
  display: none;
}
.listas > li > a{
text-decoration: none;
color: black;
}
.listas > li{
    display: block;
    background-color: #26E012;
    border-bottom:2px solid green ;
  
    font-size: 30px;
}
li:hover{
    background-color: rgb(38, 156, 38);
    color: white;
    }
    .listas > li> a:hover{
      color: white;
    }
#icone{
    width: 100%;
    display: block;
    background-color: #26E012;
    border-bottom:2px solid green ;
    font-size: 40px;

}
#icone:hover{
    background-color: rgb(39, 179, 93);
}
#icone > span{
    font-size: 30px;
}
.hide{
    display: block;
}
.hidden{
  display: none;
}
#cadastro {
  width: 200px;

  padding: 20px;
  margin: 40px auto;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#cadastro input,
#cadastro select,
#cadastro button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

#cadastro button {
  background: #2e86de;
  color: white;
  border: none;
  cursor: pointer;
}

#msg {
  text-align: center;
}
#ContainerConta{
  margin: auto;
  width: 290px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #12ABE0;
  color: white;
  padding: 5px;
  margin-top: 20px;
  border-radius: 8px;
}
#ContainerConta > h1{
  color: rgb(0, 0, 0);
}
#listaUsuarios {
  width: 300px;
  margin: 20px auto;
   background-color: #12ABE0;

}

.usuario {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.usuario strong {
  display: block;
}

#editarBox{

  width: 80%;
  height: 300px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
background-color: #c7c4c4;
z-index: 10px;
}

#editarBox > h3{
  display: block;
 width: 100%;


background-color: #12ABE0;
}
.editar-box{
  display: block;
  flex-flow: column wrap;
  align-content: flex-start;
}
.editar-campos{
  margin-top: 10px;
  margin-bottom: 10px;
}
.salvar{
   
  width: 30%;
  background-color: #26E012;
  border: none;
  padding: 3px;
}
.excluir{
 
  width: 30%;
  background-color: rgb(247, 54, 54);
  border: none;
  padding: 3px;
}
#editBanco{
  width: 50%;
}
.container-pop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1px;
  background-color: rgba(255, 254, 254, 0.856);
}
.editar-botoes{
  display: flex;
  justify-content: center;
  gap: 10px;
}